@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Roboto';
}

.roboto {
    font-family: 'Roboto';
}

.fondo {
    /* background-image: url("../images/fondo.jpeg"); */
    background-color: #343a40;
    background-size: 100%;
}

.fondo2 {
    background: #1e5574;
}

.theadyo {
    color: #fff;
    background: #343a40;
    padding: 3px;
}

.mdh {
    background: #c8302b;
    color: #fff;
}

.cuerpot {
    background: #fff;
    color: #343a40;
    padding: 2px;
}

.titulos {
    color: #fff;
    font-family: 'Roboto';
}

.titulos1 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto';
    position: absolute;
    left: -70%;
    top: -50%;
}

#gafete {}

#codigoqr {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
}

#qr {
    size: 20000px;
}

@media only screen and (max-width: 700px) {
    .fondo {
        background-image: url("../images/tarjeta.jpeg");
        background-size: 100%;
    }
}